body,
#main-content,
#header,
#navigation,
#product-table,
#footer,
form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main-content {
    padding: 1em;
    background-color: #FEFFFF;
}

#header {
    background-color: #3AAFA9;
    color: #1F2833;
    text-align: center;
    padding: 1em;
}

#navigation { 
    background-color: #3AAFA9; 
    padding: 1em; 
    position: fixed; 
    bottom: 0; 
    right: 0; 
    margin-bottom: 10px; 
}

#navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#product-table th, #product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #17252A;
    background-color: #2B7A78;
}

#product-table th {
    background-color: #1F2833;
    color: white;
}

